[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
torch = "*"
spatialmedia = {git = "https://github.com/google/spatial-media.git"}
torchvision = "*"
pillow = "*"
line-profiler = "*"
av = "*"
matplotlib = "*"
scipy = "*"
shapely = "*"
progressbar2 = "*"
ngdsac-horizon = {git = "https://github.com/jeb5/ngdsac_horizon.git"}

[dev-packages]

[requires]
python_version = "3.13"
