[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
torch = "*"
matplotlib = "*"
pyexiftool = "*"
spatialmedia = {git = "https://github.com/google/spatial-media.git"}
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.13"
